@model IEnumerable<NSEF.Models.Absence>

@{
    ViewData["Title"] = "Create Absence";
}

<h1>Create absence</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AbsenceType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AbsenceType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AbsenceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AbsenceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AbsenceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
